<div class="container" id="main">
  <h2>Main</h2>
  <h3>List of Repos</h3>
  <div ng-controller="mainController">
    <button ng-click="populateRepos()">Get GitHub Repos!</button>
    <ul>
      <li ng-repeat="repo in repos">
        <input ng-model="check" ng-change="stateChanged()" type="checkbox" data-repo-id="{{ repo.id }}" data-git-url="{{ repo.git_url }}" data-url="{{repo.html_url}}" data-user-id="{{ repo.owner.id }}" data-repo-name="{{ repo.name }}"/>
        {{ repo.name }}
        <br>
      </li>
    </ul>
    <button ng-show="repos" ng-click="submit()">Submit Repos for Analysis!</button>
  </div>
</div>
