<div class="container" id="main">

 <div ng-controller="mainController" class="tab-container">
    <md-tabs class="md-accent" md-selected="data.selectedIndex">
      <md-tab id="tab1">
        <md-tab-label class="md-subhead">Main</md-tab-label>
        <md-tab-template>
          <h5 class="md-subhead">Welcome to Git Secure</h5>
          <p class="md-body-1">Deep v before they sold out PBR disrupt, trust fund cray iPhone hoodie meh sustainable American Apparel blog readymade sartorial Thundercats. Tilde forage selfies, chia paleo tattooed lo-fi. Cray direct trade farm-to-table American Apparel, disrupt DIY Truffaut you probably haven't heard of them. Sustainable hella VHS tattooed selfies blog Wes Anderson. Four dollar toast listicle quinoa, skateboard forage distillery literally fanny pack organic craft beer stumptown Kickstarter mixtape ugh migas. Meh pour-over roof party fap, bespoke PBR Pinterest leggings Bushwick cred trust fund bicycle rights. Chillwave pork belly skateboard next level plaid, American Apparel 3 wolf moon biodiesel narwhal Etsy DIY Blue Bottle.</p>
        </md-tab-template>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label class="md-subhead" ng-click="populateRepos()" >Subscriptions</md-tab-label>
        <md-tab-template>
          <md-button class="md-raised md-primary" ng-show="repos" ng-click="submit(); showAlert()">Submit Repos for Analysis!</md-button>
         <ul>
           <li class="md-body-1" ng-repeat="repo in repos">
             <input type="checkbox" data-repo-id="{{ repo.id }}" data-git-url="{{ repo.git_url }}" data-url="{{repo.html_url}}" data-user-id="{{ repo.owner.id }}" data-repo-name="{{ repo.name }}"/>
             {{ repo.name }}
             <br>
           </li>
         </ul>
        </md-tab-template>
      </md-tab>
      <md-tab id="tab3">
        <md-tab-label class="md-subhead" ng-click="getResults()">Results</md-tab-label>
        <md-tab-template>
        <div layout="column" layout-margin style="padding:25px;">
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
          <md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}">
          </md-progress-linear>
          <md-progress-linear class="md-accent" md-mode="{{mode}}" value="{{determinateValue}}"></md-progress-linear>
        </div>
          <ul>
            <li class="md-body-1" ng-repeat="data in results">
              {{ repo.name }}
              <br>
            </li>
          </ul>
        </md-tab-template>
      </md-tab>
    </md-tabs>

</div>
