
/************
 * Main
 ************/

body {
  margin-left: 20%;
  margin-right: 20%;
}

.progressLineardemoBasicUsage body {
  padding: 20px; 
}

.progressLineardemoBasicUsage h4 {
  margin: 10px 0; 
}

.progressLineardemoBasicUsage md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px; 
}

.login-container {
  padding: 25px;
}

.tab-container ul {
  padding: 0;
	list-style-type: none;
}

.tab-container p, li, h5 {
  color: white;
}

.md-header {
  background-color: #378;
}
.md-tab-content {
  padding: 25px; 
}

.md-tab-content{
  background-color: #378; 
}
    
/************
 * Headers
 ************/

.md-display-4 {
  font-size: 11.2rem;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 11.2rem; }

.md-display-3 {
  font-size: 5.6rem;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 5.6rem; }

.md-display-2 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 6.4rem; }

.md-display-1 {
  font-size: 3.4rem;
  font-weight: 400;
  line-height: 4rem; }

.md-headline {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem; }

.md-title, .md-toolbar-tools {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.005em; }

.md-subhead {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2.4rem; }

/************
 * Body
 ************/
.md-body-1 {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 2rem; }

.md-body-2 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 2.4rem; }

.md-caption {
  font-size: 1.2rem;
  letter-spacing: 0.02em; }

.md-button {
  letter-spacing: 0.01em; }
